.home{
	width:85%;
	margin:0 auto;
	display:grid;
	grid-template-columns: 1fr 9fr;
	grid-template-rows:40px auto auto;
	grid-row-gap: 40px;
}
.home div{
	background-color:green;
}
.hometitle{
	grid-column-start: 1;
	grid-column-end:   3;
}
.home_content_1,.home_content_3{
	display:grid;
	grid-template-columns: 2fr 5fr 2fr;
}
.home_content_2{
	display:grid;
	grid-template-columns: 2fr 5fr 2fr;
	grid-template-rows:auto auto auto auto auto;
}
